{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="all">
</head>
<div class="login-box">
  {% if error_message %}
  <h2>{{ error_message }}</h2>
  {% else %}
  <h2>Login</h2>
  {% endif %}
  <form method="post" >
    {% csrf_token %}
    <div class="user-box">
      <input type="text" name="username" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="">
      <label>Password</label>
    </div>
    <button type="submit">Login</button>
  </form>
</div>